{% extends 'layout.html' %}

{% block content %}
<h1>Transactions</h1>

<table>
    <tr>
        <th>Sender/Receiver</th>
        <th>Quantity</th>
    </tr>
    {% for txn in txns %}
    <tr>
        <td>{{ txn.receiver_public_key }}</td>
        <td>{{ txn.messages }}</td>
        </div>
    </tr>
    {% endfor %}
</table>

<h1>Coinbase Transactions - for my mined blocks</h1>

<table>
    <tr>
        <th>Sender/Receiver</th>
        <th>Quantity</th>
    </tr>
    {% for txn in cbtxns %}
    <tr>
        <td>{{ txn.get_hash()}}</td>
        <td>{{ txn.messages }}</td>
        </div>
    </tr>
    {% endfor %}
</table>
{% endblock %}
